@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TT-Commons-Classic-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TT-Commons-Classic-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TT-Commons-Classic-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

.main-heading {
    font-family: "TT Commons";
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}

.section-heading {
    color: #000;
    font-family: "TT Commons";
    font-size: 50px;
    font-weight: 700;
}

.services-heading {
    color: #FFF;
    font-family: "TT Commons";
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
}

.text-heading {
    color: #000;
    font-family: "TT Commons";
    font-size: 25px;
    font-weight: 700;
    line-height: 42px;
    margin: 0;
}

.menu-text {
    color: #FFF;
    font-family: "TT Commons";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-decoration: none;
    text-transform: uppercase;
}

.big-buttons-text {
    color: #FFF;
    font-family: "TT Commons";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.4px;
    background: #FC420A;
    /* padding: 30px 46px; */
    /* display: block; */
    width: 239px;
    line-height: 80px;
    text-align: center;
    border: none;
    margin: 50px 0 0;
    /* width: fit-content; */
    text-transform: uppercase;
}

.text,
input::placeholder {
    font-family: "TT Commons";
    font-size: 18px;
    font-weight: 400;
}

.header {
    background: #000;
}

.header_container {
    padding: 45px 50px;
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__logo {}

.logo {
    width: 12px;
    height: 12px;
}

.header__company-name {
    margin: 0 0 0 12px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__call {}

.header__phone {}

.header__callback {
    margin: 0 0 0 40px;
    color: #FC420A;
}

.header__menu {
    display: flex;
    margin: 0 0 0 82px;
    align-items: center;
}

.header__menu-text {
    margin: 0;
}

.header__menu-img {
    margin: 0 0 0 20px;
}

.content-section {
    margin: 120px 135px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles__heading {
    text-transform: uppercase;
    width: 100%;
    line-height: 1;
}

.articles-item {
    width: 49%;
    border: 1px solid #000;
    padding: 50px;
    box-sizing: border-box;
    margin: 0 0 30px;
}

.articles div:nth-of-type(1),
.articles div:nth-of-type(2) {
    margin: 57px 0 30px;
}

.articles div:nth-last-of-type(1),
.articles div:nth-last-of-type(2) {
    margin: 0;
}

.articles-text {
    margin: 10px 0 97px;
    line-height: 1.15;
}

.articles__bottom-row {
    display: flex;
    justify-content: space-between;
}

.articles-date {
    margin: 0;
}

.articles__read-more {
    display: none;
}

.articles-item:hover {
    background-color: #000;
    color: #FFF;
}

.articles-item:hover .articles-heading {
    color: #FFF;
}

.articles-item:hover .articles__bottom-row a.articles__read-more {
    display: unset;
    color: #FC420A;
    text-decoration: none;
}

.bottom-form {
    display: flex;
}

.bottom-form__column {
    width: 50%;
    box-sizing: border-box;
}

.bottom-form__column:first-child {
    background: rgba(147, 147, 147, 0.10);
    padding: 120px 100px 120px 135px;
}

.bottom-form__column:last-child {
    background: linear-gradient(0deg, #FC420A 0%, #FC420A 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    padding: 120px 135px;
}

.bottom-form__body {
    display: flex;
    flex-direction: column;
}

.bottom-form__heading {
    margin: 0;
}

.bottom-form__name {
    margin: 70px 0 0;
    border: none;
    background: rgba(147, 147, 147, 0.010);
}

.bottom-form__hr {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 20px 0 0;
}

.bottom-form__body hr:last-of-type {
    margin: 0;
}

.bottom-form__phone {
    margin: 40px 0 0;
    border: none;
    background: rgba(147, 147, 147, 0.010);
}

.text {}

.bottom-form__text {
    max-width: 250px;
    margin: 40px 0 128px;
}

a.bottom-form__text {
    color: #000;
}

.bottom-form__checkbox {
    margin: 30px 0 0;
}

/* .big-buttons-text {

} */

.bottom-form__contacts {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.bottom-form__contacts-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-form__subheading {
    color: #FFF;
    margin: 30px 0 0;
}

.bottom-form__contacts:first-child {
    margin: 100px 0 0;
}

.text-heading {}

.bottom-form__contact-info {
    margin: 6px 0 0;
    color: #FFF;
    text-decoration: none;
}

.bottom-form__social-buttons {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.bottom-form__social-button {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px 0 0;
}

.bottom-form__social-icon {}

.footer {
    background: #000;
    padding: 120px 135px 130px;
    /* display: flex;
    flex-direction: row; */
}

.footer__row {
    width: 100%;
    display: flex;
    margin: 0 0 147px;
}

.footer__main-column {
    width: 50%;
    /* box-sizing: border-box; */
}

/* .text-heading {} */

.footer__heading {
    color: #FFF;
    margin: 0 0 10px;
}

.text {}

.footer__text {
    color: #FFF;
}

.footer__right-column {
    display: flex;
}

.footer__secondary-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer__phones {
    color: #FFF;
    text-decoration: none;
}

a.big-buttons-text {
    text-decoration: none;
}

.footer__bottom-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__copyright-column {
    color: #FFF;
    max-width: 765px;
}

.footer__copyright {}

.footer__inn {}

.footer__privacy-policy {
    margin: 30px 0 0;
    color: #FFF;
}

.footer__social-buttons {
    display: flex;

}

.footer__social-button {
    margin: 0 0 0 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.footer__social-icon {}
