@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TT-Commons-Classic-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TT-Commons-Classic-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TT-Commons-Classic-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

.main-heading {
    font-family: "TT Commons";
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}

.section-heading {
    color: #000;
    font-family: "TT Commons";
    font-size: 50px;
    font-weight: 700;
}

.services-heading {
    color: #FFF;
    font-family: "TT Commons";
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
}

.text-heading {
    color: #000;
    font-family: "TT Commons";
    font-size: 25px;
    font-weight: 700;
    line-height: 42px;
    margin: 0;
}

.menu-text {
    color: #FFF;
    font-family: "TT Commons";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-decoration: none;
    text-transform: uppercase;
}

.big-buttons-text {
    color: #FFF;
    font-family: "TT Commons";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.4px;
    background: #FC420A;
    /* padding: 30px 46px; */
    /* display: block; */
    width: 239px;
    line-height: 80px;
    text-align: center;
    border: none;
    margin: 54px 0 0;
    /* width: fit-content; */
    text-transform: uppercase;
}

.text,
input::placeholder {
    font-family: "TT Commons";
    font-size: 18px;
    font-weight: 400;
}

.header {
    background: #000;
}

.header_container {
    padding: 45px 50px;
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__logo {}

.logo {
    width: 12px;
    height: 12px;
}

.header__company-name {
    margin: 0 0 0 12px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__call {}

.header__phone {}

.header__callback {
    margin: 0 0 0 40px;
    color: #FC420A;
}

.header__menu {
    display: flex;
    margin: 0 0 0 82px;
    align-items: center;
}

.header__menu-text {
    margin: 0;
}

.header__menu-img {
    margin: 0 0 0 20px;
}

.content-section {
    margin: 120px 135px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles__heading {
    text-transform: uppercase;
    width: 100%;
    line-height: 1;
}

.articles-item {
    width: 49%;
    border: 1px solid #000;
    padding: 50px;
    box-sizing: border-box;
    margin: 0 0 30px;
}

.articles div:nth-of-type(1),
.articles div:nth-of-type(2) {
    margin: 57px 0 30px;
}

.articles div:nth-last-of-type(1),
.articles div:nth-last-of-type(2) {
    margin: 0;
}

.articles-text {
    margin: 10px 0 97px;
    line-height: 1.15;
}

.articles__bottom-row {
    display: flex;
    justify-content: space-between;
}

.articles-date {
    margin: 0;
}

.articles__read-more {
    display: none;
}

.articles-item:hover {
    background-color: #000;
    color: #FFF;
}

.articles-item:hover .articles-heading {
    color: #FFF;
}

.articles-item:hover .articles__bottom-row a.articles__read-more {
    display: unset;
    color: #FC420A;
    text-decoration: none;
}

.bottom-form {
    display: flex;
}

.bottom-form__column {
    width: 50%;
    box-sizing: border-box;
}

.bottom-form__column:first-child {
    background: rgba(147, 147, 147, 0.10);
    padding: 120px 100px 120px 135px;
}

.bottom-form__column:last-child {
    background: linear-gradient(0deg, #FC420A 0%, #FC420A 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    padding: 120px 135px;
}

.bottom-form__body {
    display: flex;
    flex-direction: column;
}

.bottom-form__heading {
    margin: 0;
}

.bottom-form__name {
    margin: 70px 0 0;
    border: none;
    background: rgba(147, 147, 147, 0.010);
}

.bottom-form__hr {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 20px 0 0;
}

.bottom-form__submit {
    margin: 46px 0 0;
}

.bottom-form__body hr:last-of-type {
    margin: 0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}

.bottom-form__phone {
    margin: 40px 0 0;
    border: none;
    background: rgba(147, 147, 147, 0.010);
}

.text {}

.bottom-form__text {
    max-width: 250px;
    margin: 40px 0 128px;
}

a.bottom-form__text {
    color: #000;
}

.bottom-form__checkbox {
    margin: 30px 0 0;
}

/* .big-buttons-text {

} */

.bottom-form__contacts {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.bottom-form__contacts-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-form__subheading {
    color: #FFF;
    margin: 30px 0 0;
}

.bottom-form__contacts:first-child {
    margin: 95px 0 0;
}

.text-heading {}

.bottom-form__contact-info {
    margin: 10px 0 0;
    color: #FFF;
    text-decoration: none;
}

.bottom-form__social-buttons {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.bottom-form__social-button {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px 0 0;
}

.bottom-form__social-icon {}

.footer {
    background: #000;
    padding: 118px 135px 130px;
    /* display: flex;
    flex-direction: row; */
}

.footer__row {
    width: 100%;
    display: flex;
    margin: 0 0 147px;
}

.footer__main-column {
    width: 50%;
    /* box-sizing: border-box; */
}

/* .text-heading {} */

.footer__heading {
    color: #FFF;
    margin: 0;
}

.text {}

.footer__text {
    color: #FFF;
    margin: 8px 0 0;
    line-height: 1;
}

.footer__text:hover {
    color: #FC420A;
}

.footer__right-column {
    display: flex;
}

.footer__secondary-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer__phones {
    color: #FFF;
    text-decoration: none;
    margin: 8px 0 0;
}

a.big-buttons-text {
    text-decoration: none;
}

.footer__bottom-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__copyright-column {
    color: #FFF;
    max-width: 765px;
}

.footer__copyright-column .text {
    margin: 0 0 35px;
}

.footer__copyright-column:last-child {
    margin: 0;
}

.footer__copyright {}

.footer__inn {}

.footer__privacy-policy {
    margin: 30px 0 0;
    color: #FFF;
}

.footer__social-buttons {
    display: flex;

}

.footer__social-button {
    margin: 0 0 0 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.footer__social-icon {
    fill: #fff;
    transition: color 0.3s ease;
}

.footer__social-button:hover {
    border: 2px solid #FC420A;
}

.footer__social-button:hover .footer__social-icon {
    fill: #FC420A;
}

.article__container {}

.articles__heading {}

.article__images {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 0;
}

.article__image-card {
    width: 48%;
    margin: 0;
}

.article__img {}

.text {}

.article__img-caption {
    margin: 20px 0 0;
}

.article__text-wrapper {
    margin: 70px 0;
}

.article__text {}

.article__share {
    display: flex;
    justify-content: start;
}

.text-heading {}

.article__social-buttons {
    margin: 0 0 0 20px;
    display: flex;
}

.article__social-button {
    margin: 0 7px 0 0;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 2px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.articles-slider__container {
    margin: 120px 0 120px 135px;
}

.articles-slider {
    width: 100%;
    overflow: hidden;
}

.articles-slider__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 70px;
}

.articles-slider__arrows {
    display: flex;
}

.articles-slider__prev {
    width: 60px;
    height: 60px;
}

.articles-slider__next {
    width: 60px;
    height: 60px;
    margin: 0 135px 0 10px;
}

.articles-slider__viewport {
    overflow: hidden;
    position: relative;
}

.articles-slider__track {
    display: flex;
    gap: 25px;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    cursor: grab;
}

.articles-slider__track:active {
    cursor: grabbing;
}

.articles-item {
    min-width: 570px;
}

.objects-slider__container {
    margin: 120px 0 120px 135px;
}

.objects-slider {
    width: 100%;
    overflow: hidden;
}

.objects-slider__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 70px;
}

.section-heading {}

.objects-slider__heading {
    margin: 0;
}

.text {}

.objects-slider__text {
    margin: 16px 0 0;
}

.objects-slider__arrows {
    display: flex;
}

.objects-slider__prev {
    width: 60px;
    height: 60px;
}

.objects-slider__next {
    width: 60px;
    height: 60px;
    margin: 0 135px 0 10px;
}

.objects-slider__viewport {
    overflow: hidden;
    position: relative;
}

.objects-slider__track {
    display: flex;
    gap: 15px;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    cursor: grab;
}

.objects-item {
    width: 670px;
}

.horizontal-line {
    margin: 0;
}

.page-404__body {
    display: flex;
    flex-direction: column
}

.page-404__heading {
    color: #FC420A;
    font-family: "TT Commons";
    font-size: 300px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.section-heading {}

.page-404__subheading {
    margin: 40px 0 0;
}

.text {}

.page-404__text {
    margin: 10px 0 0;
}

.big-buttons-text {}

.page-404__btn {
    margin: 40px 0 0;
}

.main-page__cover {
    background-image: url(../img/main-page-cover.jpg);
}

.header {}

.main-page__header {
    background: none;
}

.header_container {}

.header__left {}

.header__logo {}

.logo {}

.header__company-name {}

.menu-text {}

.header__right {}

.header__call {}

.header__phone {}

.header__callback {}

.main-page__callback {
    color: #FFF;
}

.header__menu {}

.header__menu-text {}

.header__menu-img {}

.main-page__cover-body {
    padding: 80px 135px 95px;
    display: flex;
    flex-direction: column;
}

.main-heading {}

.main-page__heading {
    max-width: 620px;
    color: #FFF;
}

.text {}

.main-page__cover-text {
    color: #FFF;
    margin: 25px 0 0;
}

.main-page__cover-btns {
    display: flex;
    flex-wrap: wrap;
    max-width: 660px;
    margin: 35px 0 0;
    row-gap: 10px;
}

.main-page__cover-btn {
    padding: 13px 30px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    background-color: #fff;
    text-decoration: none;
    color: #FC420A;
    margin: 0 8px 0 0;
}

.big-buttons-text {}

.main-page__cover-big-btn {
    margin: 84px 0 0;
}

.advantages {
    display: flex;
    justify-content: space-between;
    margin: 93px 135px 100px;
}

.advantage__item {
    width: 24%;
}

.advantage__broad-item {
    width: 26%;
}

.text-heading {}

.advantages__heading {}

.text {}

.advantages__text {
    margin: 10px 0 0;
}

.content-section {}

.calculate {
    background: #000;
    margin: 0;
    padding: 120px 135px;
}

.calculate__form {}

.calculate__step1 {}

.section-heading {}

.calculate__heading {
    color: #FFF;
    margin: 0;
}

.text {}

.calculate__subheading {
    color: #FFF;
    margin: 16px 0 0;
}

.calculate__section {
    margin: 40px 0 0;
}

.calculate__work-types {
    margin: 70px 0 0;
}

.text-heading {}

.calculate__section-heading {
    color: #FFF;
}

.calculate__button-group button.active {
    background-color: #fc420a;
    color: #FFF;
}

.calculate__button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 750px;
    margin: 10px 0 0;
}

.calculate__button {
    padding: 13px 30px;
    border-radius: 100px;
    background-color: #fff;
    color: #FC420A;
}

.calculate__roof-type {}

.calculate__object-type {}

.big-buttons-text {}

.calculate__big-button {
    margin: 80px 0 0;
}

.calculate__step2 {
    flex-direction: column;
    max-width: 570px;
}

.calculate__name {
    margin: 70px 0 0;
    background-color: #000;
    color: #FFF;
    border: none;
}

.calculate__hr {
    border: none;
    height: 2px;
    background-color: #FFF;
    margin: 20px 0 0;
}

.calculate__tel {
    margin: 40px 0 0;
    background-color: #000;
    color: #FFF;
    border: none;
}

.calculate__comment {
    background-color: #000;
    color: #FFF;
    border: none;
    height: 100px;
    margin: 40px 0 0;
}

.calculate__checkbox {
    width: 20px;
    height: 20px;
}

.calculate__privacy {
    color: #FFF;
    margin: 20px 0 0;
    display: flex;
}

.calculate__big-button-submit {
    margin: 180px 0 0;
}

.calculate__select {
    display: none;
}

.calculate__select.error {
    border: 2px solid #FC420A;
    border-radius: 100px;
}

@media (max-width: 1024px) {
    .main-heading {
        font-size: 30px;
        margin: 0;
    }

    .section-heading {
        font-size: 25px;
    }

    /* .services-heading {
        color: #FFF;
        font-family: "TT Commons";
        font-size: 55px;
        font-weight: 700;
        line-height: 60px;
    } */

    .text-heading {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
    }

    .big-buttons-text {
        color: #FFF;
        letter-spacing: 1.4px;
        background: #000;
        text-align: center;
        border: none;
        width: calc(100vw);
        margin: 62px -30px 0;
    }

    .header_container {
        padding: 30px;
    }

    .header__right {
        display: flex;
        align-items: center;
    }

    .header__call {
        display: none;
    }

    .header__menu-text {
        display: none;
    }

    .header__menu-img {
        margin: 0 0 0 20px;
    }

    .content-section {
        margin: 70px 30px;
    }

    .articles__heading {}

    .articles-item {
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
        margin: 20px 0 0;
    }

    .articles div:nth-of-type(1) {
        margin: 40px 0 0;
    }

    .articles div:nth-of-type(2) {
        margin: 20px 0 0;
    }

    .articles div:nth-last-of-type(1),
    .articles div:nth-last-of-type(2) {
        margin: 20px 0 0;
    }

    .articles-text {
        margin: 5px 0 63px;
        line-height: 1.15;
    }

    .articles-date {
        margin: 0;
    }

    .articles__read-more {
        display: none;
    }

    /* .articles-item:hover {
    background-color: #000;
    color: #FFF;
} */

    /* .articles-item:hover .articles-heading {
    color: #FFF;
} */

    /* .articles-item:hover .articles__bottom-row a.articles__read-more {
    display: unset;
    color: #FC420A;
    text-decoration: none;
} */

    .bottom-form {
        display: flex;
        flex-wrap: wrap;
    }

    .bottom-form__column {
        width: 100%;
    }

    .bottom-form__column:first-child {
        padding: 70px 30px 0;
    }

    .bottom-form__column:last-child {
        padding: 66px 30px;
    }

    .bottom-form__heading {}

    .bottom-form__name {
        margin: 42px 0 0;
    }

    .bottom-form__hr {}

    .bottom-form__submit {}

    .bottom-form__body hr:last-of-type {}

    /* input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
} */

    .bottom-form__phone {
        margin: 30px 0 0;
    }

    .bottom-form__text {
        margin: 30px 0 90px;
    }

    a.bottom-form__text {
        color: #000;
    }

    .bottom-form__checkbox {
        margin: 20px 0 0;
    }

    .bottom-form__contacts {}

    .bottom-form__contacts-column {}

    .bottom-form__subheading {
        margin: 30px 0 0;
    }

    .bottom-form__contacts:first-child {
        margin: 0;
    }

    .text-heading {}

    .bottom-form__contact-info {}

    .bottom-form__social-buttons {
        margin: 40px 0 0;
    }

    .bottom-form__social-button {
        /* width: 41px;
    height: 41px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px 0 0; */
    }

    .bottom-form__social-icon {}

    .footer {
        padding: 70px 30px 58px;
    }

    .footer__row {
        flex-direction: column;
        margin: 0 0 70px;
    }

    .footer__main-column {
        width: 100%;
    }

    /* .text-heading {} */

    .footer__heading {
        margin: 20px 0 0;
    }

    /* .footer__heading:first-child {
    margin: 0;
} */

    .text {}

    .footer__text {
        /* color: #FFF;
    margin: 8px 0 0;
    line-height: 1; */
        display: none;
    }

    .footer__text:hover {
        color: #FC420A;
    }

    .footer__right-column {
        flex-direction: column;
    }

    .footer__secondary-column {
        width: 100%;
    }

    .footer__secondary-column .big-buttons-text {
        display: none;
    }

    .footer__phones {
        margin: 10px 0 0;
    }

    a.big-buttons-text {}

    .footer__bottom-row {
        flex-direction: column;
    }

    .footer__copyright-column {
        /* color: #FFF;
    max-width: 765px; */
    }

    .footer__copyright-column .text {
        margin: 0 0 30px;
    }

    .footer__copyright-column:last-child {
        margin: 0;
    }

    .footer__copyright {}

    .footer__inn {}

    .footer__privacy-policy {
        /* margin: 30px 0 0;
    color: #FFF; */
    }

    .footer__social-buttons {
        /* display: flex; */
        margin: 70px 0 0;
    }

    .footer__social-button {
        /* margin: 0 0 0 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; */
    }

    .footer__social-icon {
        /* fill: #fff;
    transition: color 0.3s ease; */
    }

    .footer__social-button:hover {
        /* border: 2px solid #FC420A; */
    }

    .footer__social-button:hover .footer__social-icon {
        /* fill: #FC420A; */

    }

    .article__images {
        display: flex;
        margin: 30px 0 0;
        flex-direction: column;
    }

    .article__image-card {
        width: 100%;
        margin: 0 0 12px;
    }

    .article__image-card:last-child {
        margin: 0;
    }

    .article__img {
        width: 100%;
    }

    .text {}

    .article__img-caption {
        margin: 9px 0 0;
    }

    .article__text-wrapper {
        margin: 70px 0;
    }

    .article__text {}

    .article__share {
        flex-direction: column;
    }

    .text-heading {}

    .article__bottom-heading {
        font-family: "TT Commons";
        font-size: 25px;
        font-weight: 700;
        line-height: normal;
    }

    .article__social-buttons {
        margin: 20px 0 0;
        display: flex;
    }

    .article__social-button {}

    .articles-slider__container {
        margin: 70px 0 70px 30px;
    }

    .articles-slider {}

    .articles-slider__top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 40px;
    }

    .articles-slider__arrows {
        display: none;
    }

    .articles-slider__viewport {}

    .articles-slider__track {
        display: flex;
        gap: 10px;
        transition: transform 0.3s ease;
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        -ms-transition: transform 0.3s ease;
        -o-transition: transform 0.3s ease;
    }

    .articles-item {
        min-width: 314px;
    }

    .objects-slider__container {
        margin: 70px 0 70px 30px;
    }

    .objects-slider {}

    .objects-slider__top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 40px;
    }

    .section-heading {}

    .objects-slider__heading {}

    .text {}

    .objects-slider__text {}

    .objects-slider__arrows {
        display: none;
    }

    .objects-slider__prev {}

    .objects-slider__next {}

    .objects-slider__viewport {}

    .objects-slider__track {
        display: flex;
        gap: 10px;
        transition: transform 0.3s ease;
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        -ms-transition: transform 0.3s ease;
        -o-transition: transform 0.3s ease;
    }

    .objects-item {
        min-width: 315px;
    }

    .page-404__body {
        margin: 125px 30px 0;
    }

    .page-404__heading {
        font-size: 160px;
    }

    .section-heading {}

    .page-404__subheading {
        font-size: 30px;
        margin: 40px 0 0;
    }

    .text {}

    .page-404__text {
        font-size: 14px;
    }

    .big-buttons-text {}

    .page-404__btn {
        margin: 120px 0 0 -30px;
        background: #FC420A;
    }

    .main-page__cover {}

    .header {}

    .main-page__header {}

    .header_container {}

    .header__left {}

    .header__logo {}

    .logo {}

    .header__company-name {}

    .menu-text {}

    .header__right {}

    .header__call {}

    .header__phone {}

    .header__callback {}

    .main-page__callback {}

    .header__menu {}

    .header__menu-text {}

    .header__menu-img {}

    .main-page__cover-body {
        padding: 25px 30px 0;
    }

    .main-heading {}

    .main-page__heading {}

    .text {}

    .main-page__cover-text {
        font-size: 14px;
        margin: 10px 0 0;
    }

    .main-page__cover-btns {
        margin: 30px 0 0;
        row-gap: 0;
    }

    .main-page__cover-btn {
        border-radius: 0%;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
        background: none;
        border-style: solid;
        border-color: #FFF;
        border-width: 2px 2px 0;
        color: #FFF;
        width: 224px;
        box-sizing: border-box;
    }

    .main-page__cover-btn:last-child {
        border-width: 2px;
    }

    .main-page__cover-btn:hover,
    .main-page__cover-bt:active {
        background: #FFF;
        color: #FC420A;
    }

    .big-buttons-text {}

    .main-page__cover-big-btn {
        margin: 58px 0 0 -30px;
        background-color: #FC420A;
    }

    .advantages {
        flex-direction: column;
    }

    .advantage__item {
        width: 100%;
        margin: 0 0 20px;
    }

    .advantage__item:last-child {
        margin: 0;
    }

    .text-heading {}

    .advantages__heading {}

    .text {}

    .advantages__text {
        margin: 10px 0 0;
    }

    .calculate {
        padding: 70px 30px 0;
    }

    .calculate__form {}

    .calculate__step1 {}

    .section-heading {}

    .calculate__heading {}

    .text {}

    .calculate__subheading {
        font-size: 14px;
        margin: 10px 0 0;
    }

    .calculate__section {
        margin: 30px 0 0;
    }

    .calculate__work-types {
        margin: 40px 0 0;
    }

    .text-heading {}

    .calculate__section-heading {}

    .calculate__button-group {}

    .calculate__button {}

    .calculate__select {}

    .calculate__roof-type {}

    .calculate__object-type {}

    .big-buttons-text {}

    .calculate__big-button {
        background-color: #FC420A;
    }

    .calculate__step2 {}

    .calculate__name {}

    .calculate__hr {}

    .calculate__tel {}

    .calculate__comment {}

    .calculate__privacy {}

    .calculate__checkbox {}

    .calculate__big-button-submit {
        background-color: #FC420A;
    }

    .calculate__button-group {
        display: none;
    }

    .calculate__select {
        display: block;
        width: 315px;
        max-width: 100%;
        padding: 13px 30px;
        margin: 10px 0 0;
        font-family: "TT Commons";
        font-size: 14px;
        color: #000;
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 100px;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FC420A' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 16px center;
        background-size: 16px;
    }
}
